//@ This file is part of opal-tabbar.
//@ https://github.com/Pretty-SFOS/opal-tabbar
{% for copyright_line in copyright_lines %}
//@ {{ copyright_line }}
{% endfor %}
{% for expression in spdx_expressions %}
//@ SPDX-License-Identifier: {{ expression }}
{% endfor %}
